/FlaskBee/__pycache__
/FlaskBee/__pycache__/
/FlaskBee/app/__pycache__
/FlaskBee/app/__pycache__/
/FlaskBee/app/main/__pycache__
/FlaskBee/app/main/__pycache__/
/FlaskBee/app/errors/__pycache__
/FlaskBee/app/errors/__pycache__/
/FlaskBee/migrations/__pycache__
/FlaskBee/migrations/versions/__pycache__
/FlaskBee/logs/
/logs/
/__pycache__
/__pycache__/
/app/__pycache__
/app/__pycache__/
/app/main/__pycache__
/app/main/__pycache__/
/migrations/__pycache__
/migrations/versions/__pycache__
