/FlaskBee/__pycache__
/FlaskBee/__pycache__/
/FlaskBee/app/__pycache__
/FlaskBee/app/__pycache__/
/FlaskBee/app/main/__pycache__
/FlaskBee/app/main/__pycache__/
/FlaskBee/migrations/__pycache__
/FlaskBee/migrations/versions/__pycache__
/FlaskBee/logs/
/logs/

