.containerhexagon {
  display: grid;         /* Establish a grid layout */
  margin: 150px;         /* 150px margin on all sides */
  width: 150px;          /* Fixed 150px width */
  aspect-ratio: 1.15;    /* Enforce a slightly wider aspect ratio */
}

.hexagoncell {
  grid-area:1/1;                                /* Occupy the first cell of the grid */
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0 50%); /* Create a hexagonal shape */ 
  background-color: white;                    /* Light yellow background */
  box-shadow: inset 0 0 40px 10px lightgray;  /* Inset box-shadow with a light orange color */
  display: flex;                                /* Use flexbox for centering */
  justify-content: center;
  align-items: center;  
  font-size: 40px;                  
  font-weight: bold;          
}

.containerhexagon > :nth-child(1) {     /* Targets the first .hexagoncell element */
    transform: translateY(100%);          /* Shift it down by 100% of its height*/
}

.containerhexagon > :nth-child(2) {     /* Targets the second .hexagoncell element */
    transform: translateY(-100%);         /* Shift it up by 100% of its height*/
}

/* ... other transforms for remaining .hexagoncell elements */
.containerhexagon > :nth-child(3) {
  transform: translate(-75%,-50%);
}    
.containerhexagon > :nth-child(4) {
    transform: translate(75%,-50%);
}
.containerhexagon > :nth-child(5) {
  transform: translate(75%,50%); 
}
.containerhexagon > :nth-child(6) {
  transform: translate(-75%,50%); 
}

.hexagon-container {
  display: flex; /* Enable Flexbox */
  align-items: flex-start; /* Align items at the top */
}

.container-of-hexagon-and-guesses::after { 
  content: "";
  display: table;
  clear: both;
}

.guesses {
  margin-left: 20px;
  width: 60%;
}

.answers {
  margin-left: 20px;
  width: 90%;
}

.word-list-container {
  column-gap: 20px; /* Adjust spacing between columns */
  width: auto
}

.word-column {
   break-inside: avoid-column; /* Prevent items from splitting across columns */
   float: left; /* Allow columns to be side-by-side */
   width: 50%;  /* Adjust column width as needed */
}

/* Overall form container */
.custom-form-container {
  display: flex;
  align-items: center;
  gap: 10%; 
  margin-bottom: 30px; /* Add some spacing below the form */
}

/* The text field */
.custom-form-container input[type="text"] {
  /* flex: 1;   */
  padding: 10px;  
  border: 3px solid #ccc; 
  border-radius: 10px;   
  box-sizing: border-box; 
  width: 425px;
}

/* The submit button */
.custom-form-container button[type="submit"] { 
  background-color: #4CAF50; /* Example color - change as desired */
  color: white;
  padding: 10px 15px; 
  border: none;
  border-radius: 4px; 
  cursor: pointer; 
}

.flash.error { 
  background-color: #ffcccc; /* Light red for errors */
}
.flash.success {
  background-color: #ccffcc; /* Light green for success */
}