{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
<div class="container mt-3">
  <h1>My homage to the NYT Spelling Bee game</h1>
  <br>
  <h3>An absolutely brilliant and addictive word game that I play everyday!<br><br>
  Thank you to The New York Times. Click <a href="https://www.nytimes.com/puzzles/spelling-bee" target="_blank">here</a> for the official game
  </h3>
    <br>
    <h4>Official NYT Rules:</h4>
    Create words using letters from the hive.
    <ul>
      <li>Words must contain at least 4 letters.</li>
      <li>Words must include the center letter.</li>
      <li>Our word list does not include words that are obscure, hyphenated, or proper nouns.</li>
      <li>No cussing either, sorry.</li>
      <li>Letters can be used more than once.</li>
    </ul>
    <br>
    <h4>Gameplay Differences in this Version:</h4>
    The rules above still apply, but...
    <ul>
      <li>I use a different dictionary: <a href="http://wordlist.aspell.net/12dicts/" target="_blank">12Dicts</a>.</li>
      <li>You can play any number of games in a day!</li>
    </ul>
    <br>
    <h4>My version is <b>not</b> optimized for mobile, but try viewing in desktop mode/site</h4>
    <br>

    {% if form %}
        {{ wtf.quick_form(form) }}
    {% endif %} 
    <i>Reach me: jiten.bandi@gmail.com</i>
  </div>
{% endblock %}